* {
  font-size: 100%;
  font-family: Arial;
 }

body{
  margin: 0;
}

.header{
  height: 250px;
  background-color: #ab0303;
  margin: 0px;
  width: 100%;
}

#header_image{
  position: absolute;
  margin: 0;
  height: 250px;
  width: 100%;
  opacity: 0.4;
}

#logo_container{
  position: absolute;
  width: 100%;
  top: 0;
}

#logo{
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    filter: invert(1);
    height: 150px;
}

/* Modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: #fff;
  margin: 1% auto; /* 1% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 50%; /* Could be more or less, depending on screen size */
  height: 85%;
  padding: 15px;
}

.modal-data {
  height: 100%;
}

/* Restaurant Bubble */
#restaurant_logo {
  height: 100px;
  width: 100px;
}
/* Restaurant Main Page End */

/* Customization Menu */
.menu_item {
  width: 100%;
  height: 85%;
  overflow-y: scroll;
}
#menu_item_name {
  margin-top: -10px;
  padding-left: 10px;
}
#menu_item_image{
  width: 100%;
  margin-top: -5px;
}
#menu_custom{
  padding: 10px 5px;
  font-size: 20px;
  line-height: 25px;
}
input[type="checkbox"]{
  width: 18px;
  height: 15px;
  padding-top: 15px;
}
#menu_buttons{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
#add_comments{
  margin-left: 10px;
  padding: 10px;
  width: 90%;
}
/* End Custumization Menu */
/* End Modal */

/* The Close Button */
.close, .menuClose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 5px;
}
.close:hover, .menuClose:hover,
.close:focus, .menuClose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* End Close Button */

/* Footer */
#footer {
    position: fixed;
    background-color: #ab0303;
    width: 100%;
    padding: 20px;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
}
#link {
    color: #fff;
}
#footer_logo {
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 25px;
    filter: invert(1);
}
/* End Footer */

/* Search Bar */
.bar input {
  border: 2px solid #aaa;
  border-radius: 10px;
  height: 26px;
  width: 150px;
  float: left;
  margin: 24px 15px;
  padding-left: 5px;
}
.bar button{
  background-color: transparent;
  color: #aaa;
  border: 0px;
  margin-top: 30px;
  margin-left: -45px;
  width: 25px;
}
.bar form {
  height: 0px;
}
/* End Search Bar */

/* Selection Buttons */
.row{
  margin: 25px;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
}
.btn {
  /* text-transform: uppercase; */
  padding: 5px 10px;
  text-decoration: none;
  letter-spacing: 1px;
  background-color: #fff;
  color: #191919;
}
.btn--round {
  border: 2px solid #aaa;
  border-radius: 10px;
  margin-right: 15px;
}
.btn--round:hover {
  background-color: rgb(226, 69, 69);
  color: #fff;
}
/* End Selection Buttons */

/*Menu*/
.item{
  display: flex;
  align-items: center;
  padding: -20px;
}
.resize{
  width: 100px;
}
.caption{
  padding: 15px;
}
.restaurant_menu{
  width: 99%;
  height: 85%;
  overflow-y: scroll;
}

/*------------------------------------------Search List CSS---------------------------------------*/


#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
  
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  float : left
  
}


/*------------------------------------------------------------------------------------------------*/



/*balloon*/
/*float*/
.container
{
  margin: 0 auto;
  width: 100%;
  height:500px;
  position: relative;
  display:flex;
  justify-content:center;
  align-items:center;
  background: #fff;
  overflow: hidden;
  border-radius: 2%;
}
/*balloon*/
.balloon 
{
  height: calc(1.2 * var(--size));
  width: var(--size);
  background: hsla(var(--hue), 100%, 50%, 0.8);
  border-radius: 50% 50% 50% 50% / 45% 45% 55% 55%;
  position: absolute;
  top: 15%;
  left:var(--left, 50%);
   animation: float 1s linear both;
}
/*light*/
.balloon:before 
{
  content: '';
  position: absolute;
  width: 20%;
  height: 30%;
  top: 8%;
  left: 16%;
  border-radius: 50%;
  transform: rotate(40deg);
  background: hsla(0, 0%, 100%, 0.75);
}
.handle 
{
  width: 2%;
  height: 100%;
  background:hsl(45, 100%, 40%);
  top: 100%;
  left: 60%;
  /* transform: translate(-50%, 0); */
  position: absolute;
}
.handle:before,.handle:after 
{
  content: '';
  position: absolute;
  height: 5%;
  transform: translate(-50%, 0);
  border-radius: 25% / 50%;
  left: 50%;
}
.handle:before 
{
  top: 0;
  background:hsl(45, 100%, 40%);
  width: 500%;
}
.handle:after 
{
  top: 5%;
  background: hsla(var(--hue), 100%, 50%, 0.8)
}
@keyframes float 
{
   from  {  transform: translate(50%, -50%) translate(0, 300px); }
   to    {  transform: translate(50%, -50%) translate(0, 0px); }
}
