* {
  font-size: 100%;
  font-family: Arial;
 }

body{
  height: 100%;
  margin: 0;
  display: grid;
  grid-template-rows: 250px 80px 4fr 60px;
  grid-template-columns: 200px auto;
  overflow: hidden;
}

/* header
   search bar / select buttons
   container
   footer
*/
.header{
  grid-row: 1;
  grid-column: 1/span 2;
  height: 250px;
  background-color:#191919;
  margin: 0px;
  width: 100%;
}

.bar {
  grid-row: 2;
  grid-column: 1;
}
.row{
  grid-row: 2;
  grid-column: 2;
  margin: 25px;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
}

.container{
  grid-row: 3;
  grid-column: 1/span 2;
  margin: 0 auto;
  width: 100%;
  background: #fff;
  overflow-y: hidden;
  border-radius: 2%;
}

/* Footer */
#footer {
  grid-row: 4;
  grid-column: 1/span 2;
  position: fixed;
  background-color: #191919;
  width: 100%;
  padding: 20px;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
}

button {
  background-color: #8c1119;
  color: #fff;
  border: 0;
  height: 64px;
  margin: -15px;
  font-size: 20px;
  padding: 0 25px;
}

#header_image{
  position: absolute;
  margin: 0;
  height: 250px;
  width: 100%;
  opacity: 0.7;
}

#logo_container{
  position: absolute;
  width: 100%;
  top: 0;
}

#logo{
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    filter: invert(1);
    height: 150px;
}

/* Modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: #fff;
  margin: 1% auto; /* 1% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 50%; /* Could be more or less, depending on screen size */
  height: 85%;
  padding: 15px;
}

.modal-data {
  height: 100%;
}

/* Restaurant Bubble */
#restaurant_logo {
  height: 100px;
  width: 100px;
}
/* Restaurant Main Page End */

/* Customization Menu */
#menu_item_image{
  width: 100%;
  margin-top: -5px;
}
#menu_custom{
  padding: 10px 5px;
  font-size: 20px;
  line-height: 25px;
}
input[type="checkbox"]{
  width: 18px;
  height: 15px;
  padding-top: 15px;
}
#menu_buttons{
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
#add_comments{
  margin-left: 10px;
  padding: 10px;
  width: 90%;
}
/* End Custumization Menu */
/* End Modal */

/* The Close Button */
.close, .menuClose {
  color: #191919;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 5px;
}
.close:hover, .menuClose:hover,
.close:focus, .menuClose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* End Close Button */
#link {
    color: #fff;
}
#footer_logo {
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 25px;
    filter: invert(1);
}
/* End Footer */

/* Search Bar */
.bar input {
  border: 2px solid  #191919;
  border-radius: 10px;
  height: 26px;
  width: 150px;
  float: left;
  margin: 24px 15px;
  padding-left: 5px;
}
.bar button{
  background-color: transparent;
  color: #191919;
  border: 0px;
  margin-top: 8px;
  margin-left: -65px;
  width: 25px;
}
.bar form {
  height: 0px;
}
/* End Search Bar */

/* Selection Buttons */

.btn {
  /* text-transform: uppercase; */
  padding: 5px 10px;
  text-decoration: none;
  letter-spacing: 1px;
  background-color: #fff;
  color: #191919;
}
.btn--round {
  border: 2px solid #191919;
  border-radius: 10px;
  margin-right: 15px;
}
.btn--round:hover {
  background-color: #8c1119;
  color: #fff;
}

/* End Selection Buttons */

/*Menu*/
.display_item{
  margin: 30px;
  display: grid;
  grid-template-columns: 140px auto 100px;
  grid-template-rows: 25px auto;
  gap: 10px 30px;
  grid-template-areas:
    "resize caption remove_item"
    "resize custom price"
}
.resize{
  max-height: 140px;
  max-width: 140px;
  grid-area: resize;
}
.caption{
  margin-top: 5px;
  grid-area: caption;
}
.price{
  margin: 0;
  grid-area: price;
  transform: translate(0, 10%);
}
.custom{
  margin: 0;
  grid-area: custom;
  color: #191919;
}
.desc{
  grid-area: custom;
  color: #858585;
}
.remove_item {
  grid-area: remove_item;
  color: #858585;
  text-align: right;
  font-size: 30px;
  padding-right: 15px;
}
.remove_item:hover{
  color: #000;
}

#delivery_instructions{
  margin-left: 10px;
  padding: 10px;
  width: 95%;
}

.restaurant_menu{
  width: 99%;
  height: 86%;
  overflow-y: scroll;
}
.menu_item, .cart_data{
  width: 99%;
  height: 87%;
  overflow-y: scroll;
}

/*balloon*/
/*float*/


.first_row {
  display: flex;
  justify-content: space-between;
}
/*balloon*/
.balloon 
{
  height: calc(1.2 * var(--size));
  width: var(--size);
  background: hsla(var(--hue), 100%, 50%, 0.8);
  border-radius: 50% 50% 50% 50% / 45% 45% 55% 55%;
  position: absolute;
  top: 15%;
  left:var(--left, 50%);
}
/*light*/
.balloon:before 
{
  content: '';
  position: absolute;
  width: 15%;
  height: 30%;
  top: 8%;
  left: 16%;
  border-radius: 50%;
  transform: rotate(40deg);
  background: hsla(0, 0%, 100%, 0.75);
}

.handle
{
  height: 250%;
  width: 2%;
  background:#8c1119;
  top: 100%;
  left: 60%;
  /* transform: translate(-50%, 0); */
  position: absolute;
}
.first_row .balloon { animation: float1 0.2s linear both;}
.second_row .balloon { animation: float2 0.2s linear both;}

.handle:before,.handle:after 
{
  content: '';
  position: absolute;
  height: 5px;
  transform: translate(-50%, 0);
  border-radius: 25% / 50%;
  left: 50%;
}
.handle:before 
{
  top: 0;
  background:#8c1119;
  width: 500%;
}
.handle:after 
{
  top: 5%;
  background: hsla(var(--hue), 100%, 50%, 0.8)
}
.balloon_logo{
  border-radius: 50%;
}
.balloon_name{
  width: 100px;
  text-align: center;
  transform: translate(0%, -130px);
}

@keyframes float1 
{
   from  {  transform: translate(50%, -50%) translate(0, 500px); }
   to    {  transform: translate(50%, -50%) translate(0, 300px); }
}
@keyframes float2 
{
   from  {  transform: translate(50%, -50%) translate(0, 500px); }
   to    {  transform: translate(50%, -50%) translate(0, 450px); }
}
