* {
  font-size: 100%;
  font-family: Arial;
 }

body{
  margin: 0;
}

.header{
  height: 250px;
  background-color: #ab0303;
  margin: 0px;
  width: 100%;
}

#header_image{
  position: absolute;
  margin: 0;
  height: 250px;
  width: 100%;
  opacity: 0.4;
}

#logo_container{
  position: absolute;
  width: 100%;
  top: 0;
}

#logo{
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    filter: invert(1);
    height: 150px;
}

/* Modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: #fefefe;
  margin: 1% auto; /* 1% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 50%; /* Could be more or less, depending on screen size */
  height: 85%;
  padding: 0;
}

/* Customization Menu */
#menu_item {
  width: 99%;
  height: 85%;
  overflow-y: scroll;
}
#menu_item_name {
  margin-top: -10px;
  padding-left: 10px;
}
#menu_item_image{
  width: 100.1%;
  margin-top: -5px;
}
#menu_custom{
  padding: 10px 5px;
  font-size: 20px;
  line-height: 25px;
}
input[type="checkbox"]{
  width: 18px;
  height: 15px;
  padding-top: 15px;
}
#menu_buttons{
  display: flex;
  padding: 20px;
  justify-content: space-between;
}
#add_comments{
  margin-left: 10px;
  padding: 10px;
  width: 90%;
}
/* End Custumization Menu */
/* End Modal */

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 5px;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* End Close Button */

/* Footer */
#footer {
    position: fixed;
    background-color: #ab0303;
    width: 100%;
    padding: 20px;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
}
#link {
    color: #fff;
}
#footer_logo {
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 25px;
    filter: invert(1);
}
/* End Footer */

/* Search Bar */
.bar input {
  border: 2px solid #aaa;
  border-radius: 10px;
  height: 26px;
  width: 150px;
  float: left;
  margin: 24px 15px;
  padding-left: 5px;
}
.bar button{
  background-color: transparent;
  color: #aaa;
  border: 0px;
  margin-top: 30px;
  margin-left: -45px;
  width: 25px;
}
.bar form {
  height: 0px;
}
/* End Search Bar */

/* Selection Buttons */
.row{
  margin: 25px;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
}
.btn {
  /* text-transform: uppercase; */
  padding: 5px 10px;
  text-decoration: none;
  letter-spacing: 1px;
  background-color: #fff;
  color: #191919;
}
.btn--round {
  border: 2px solid #aaa;
  border-radius: 10px;
  margin-right: 15px;
}
.btn--round:hover {
  background-color: #aaa;
  color: #fff;
}
/* End Selection Buttons */